<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      Modern philosophers
    </a>
    <a class="panel-block">
      Victorian architecture
    </a>
    <a class="panel-block">
      Austria-Hungarian history
    </a>
    <a class="panel-block">
      The Future of Russia
    </a>
    <a class="panel-block">
      Optimism for Central Europe
    </a>
    <a class="panel-block">
      Ukraine and Macedonia
    </a>
  </nav>
</div>
