<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'active-rooms' %>
      <%= render 'feed' %>
      <%= render 'topics' %>

    </div>
  </div>
</section>
